.details {
    box-shadow: 2px 2px 5px 0px rgba(75, 75, 75, 0.75);
    padding: 0.2rem;
}
.button {
    padding: 1rem;
}

.results ul {
    list-style-type: none;
    padding: 0;
  }
  .results li {
    list-style-type: none;
    margin-bottom: 5px;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: gray 0px 0px 5px;
    border-color: rgb(159, 202, 226);
    text-align: left;
    padding: 3px;
  }