#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.search-bar {
  margin-bottom: 30px;
}

.results ul {
  list-style-type: none;
  padding: 0;
}

.results li {
  margin-bottom: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: gray 0px 0px 5px;
  border-color: rgb(159, 202, 226);
  text-align: left;
}

.details {
  margin-top: 20px;
}